<h2>Person Anlegen/Löschen</h2>

<div>
  <ul>
    <li><label for="new-Vorname">Vorname: </label><input id="new-Vorname" #PersonVorname/></li>
    <li><label for="new-Nachname">Nachname: </label><input id="new-Nachname" #PersonNachname/></li>
    <li><label id="new-Email">Email: </label><input id="new-Email" #PersonEmail/></li>
  </ul>
  <button type="button" class="add-Button" (click)="add(PersonVorname.value, PersonNachname.value, PersonEmail.value)">Person anlegen</button>
</div>
  
<div>
<ul class="personen">
    <li *ngFor="let person of personen">
      <a routerLink="/detail/{{person.id}}">
        <span class="badge">{{person.id}}</span> {{person.vorname}} {{person.nachname}}
      </a>
      <button type="button" class="delete" title="delete hero"
        (click)="delete(person)">Löschen</button>
    </li>
</ul>
</div>
